<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      APLICATIVOS DE CÁLCULO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button style="height: 180px;" id="open-modal1" expand="block">MOEDA 
          <ion-icon name="cash-outline"></ion-icon></ion-button>
      </ion-col>
      <ion-col>Temperatura
        <ion-icon name="thermometer-outline"></ion-icon>
        <ion-button id="open-modal2" expand="block">TEMPERATURA</ion-button>
        <p>{{ message }}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>IMC
        <ion-icon name="medkit-outline"></ion-icon>
        <ion-button id="open-modal3" expand="block">IMC</ion-button>
        <p>{{ message }}</p>
      </ion-col>
      <ion-col>Finanças
        <ion-icon name="wallet-outline"></ion-icon>
        <ion-button id="open-modal4" expand="block">FINANÇAS</ion-button>
        <p>{{ message }}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Inicio do MODAL CONVERSOR MOEDA -->
  <ion-modal trigger="open-modal1" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Conversor Moeda</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="calcMoeda()" [strong]="true">Converter</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input
            label="Valor"
            labelPlacement="stacked"
            type="text"
            placeholder="Informe o valor"
            [(ngModel)]="valor"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-select [(ngModel)]="moeda1" aria-label="Moeda1" interface="popover" placeholder="Informe a Moeda">
            <ion-select-option value="real">Real</ion-select-option>
            <ion-select-option value="dolar">Dolar</ion-select-option>
            <ion-select-option value="euro">Euro</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-select [(ngModel)]="moeda2" aria-label="Moeda2" interface="popover" placeholder="Informe a Moeda">
            <ion-select-option value="real">Real</ion-select-option>
            <ion-select-option value="dolar">Dolar</ion-select-option>
            <ion-select-option value="euro">Euro</ion-select-option>
          </ion-select>
        </ion-item>
        
        <ion-item>
          <ion-input
            label="Resultado"
            labelPlacement="stacked"
            type="text"
            placeholder="Resultado"
            [(ngModel)]="resultado"
          ></ion-input>
        </ion-item>


      </ion-content>
    </ng-template>
  </ion-modal>

<!-- Inicio do MODAL TEMPERATURA -->
<ion-modal trigger="open-modal2" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>Conversor temperaturas</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true">Converter</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-input
          label="Temperatura"
          labelPlacement="stacked"
          type="text"
          placeholder="Informe a temperatura"
          [(ngModel)]="name"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-select aria-label="Moeda1" interface="popover" placeholder="Selecione a temperatura">
          <ion-select-option value="real">Celsius</ion-select-option>
          <ion-select-option value="dolar">Fahrenheit</ion-select-option>
          <ion-select-option value="euro">Kelvin</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-select aria-label="Moeda2" interface="popover" placeholder="Selecione a temperatura">
          <ion-select-option value="real">Celsius</ion-select-option>
          <ion-select-option value="dolar">Fahrenheit</ion-select-option>
          <ion-select-option value="euro">Kelvin</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-input
          label="Resultado"
          labelPlacement="stacked"
          type="text"
          placeholder="Resultado"
          [(ngModel)]="name"
        ></ion-input>
      </ion-item>


    </ion-content>
  </ng-template>
</ion-modal>

<!-- Inicio do MODAL IMC -->
<ion-modal trigger="open-modal3" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">Cancel</ion-button>
        </ion-buttons>
        <ion-title>Calculo IMC</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true">Calcular</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-item>
        <ion-input
          label="Peso"
          labelPlacement="stacked"
          type="text"
          placeholder="Informe o seu peso"
          [(ngModel)]="name"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Altura"
          labelPlacement="stacked"
          type="text"
          placeholder="Informe a altura ex: 1.72"
          [(ngModel)]="name"
        ></ion-input>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>

<!-- Inicio do MODAL FINANÇAS -->
<ion-modal trigger="open-modal4" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="cancel()">cancel</ion-button>
        </ion-buttons>
        <ion-title>Conversor finanças</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true">Calcular</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <ion-item>
        <ion-input
          label="Valor"
          labelPlacement="stacked"
          type="text"
          placeholder="Informe o valor inicial"
          [(ngModel)]="name"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Taxa"
          labelPlacement="stacked"
          type="text"
          placeholder="Informe a taxa"
          [(ngModel)]="name"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          label="Periodo"
          labelPlacement="stacked"
          type="text"
          placeholder="Informe o periodo em meses"
          [(ngModel)]="name"
        ></ion-input>
      </ion-item>

            
      <ion-item>
        <ion-input
          label="Resultado"
          labelPlacement="stacked"
          type="text"
          placeholder="Resultado"
          [(ngModel)]="name"
        ></ion-input>
      </ion-item>


    </ion-content>
  </ng-template>
</ion-modal>






 
</ion-content>
